/*Color Scheme: #b5d9a0 #387a3d #161800 #fff9c9 */ 

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  width: 80vw;
  max-width: 1000px;
  margin: 20px auto;
}

.img-right {
  float: right;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

.img-left {
  float: left;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

/*  ---------------Global Styles-----------------  */
body {
  margin: 0;
  font-family: "DM Serif Text", serif;
}

header.primary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #b5d9a0;
  margin: 0px;
  padding: 0px;
}

header.primary img{
  height: 90px;
  margin: 0;
  padding: 0;
} 

header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

header.primary nav ul li {
  list-style-type: none;
}

header.primary ul li a {
  color: #387a3d;
  text-decoration: none;
  border: 4px solid #000000;
  padding: 2.5px 10px;
  border-radius: 10px 10px 0px 10px;
  background-color: #ffffff;
  transition: 0.4s;
}

header.primary ul li a:hover {
  background-color: #faf7de;
}

/*  --------------- Content -----------------  */

#content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  align-items: center; 
}

#blog {
  grid-column: 1 / 2; 
  grid-row: 1/ 2;
}


#secondary {
  grid-column: 2 / 3; 
}

#secondary video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid #000000;
}

#post{
  grid-column: 1/4;
}

/*  --------------- Aside -----------------  */

#aside{
  grid-column: 2 /3;
}

#slideshow {
  display: grid;
  grid-column: 1 / 2; 
  width: 100%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 3px solid #000;
}

/*.slider {
  display: grid;
  grid-column: 1/4;
  gap: 20px;
  align-items: center; 
}*/


.slider img {
  align-items: center;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  border: 3px solid #000;
}

.faq {
  display: grid;
  grid-column: 1 / 2;
  gap: 20px;
}

.contact {
  display: grid;
  grid-column: 1 / 2;
}

.formlabel {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding: 10px;
  font-weight: bold;
}

.error {
  color: red;
  padding-left: 5px;
}


/*  --------------- Footer -----------------  */

footer#bottom{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #b5d9a0;
  margin: 0px;
  height: 80px;
}

footer#bottom h6{
  text-align: center;
  margin: 35px;
}

footer#bottom h6 a{
  color: #000000;
}


footer#bottom img{
  width: 55px;
  margin: 0px;
  padding: 0px;
  
}
