/*Color Scheme: #b5d9a0 #387a3d #161800 #fff9c9 */ 

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  width: 80vw;
  max-width: 1000px;
  margin: 20px auto;
}



/*  ---------------Global Styles-----------------  */
body {
  margin: 0;
  font-family: "DM Serif Text", serif;
}

header.primary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #b5d9a0;
  margin: 0px;
  padding: 0px;
}

header.primary img{
  height: 90px;
  margin: 0;
  padding: 0;
} 

header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

header.primary nav ul li {
  list-style-type: none;
}

header.primary ul li a {
  color: #387a3d;
  text-decoration: none;
  border: 3px solid #000000;
  padding: 2.5px 10px;
  border-radius: 10px 10px 0px 10px;
  background-color: #ffffff;
  transition: 0.4s;
}

header.primary ul li a:hover {
  background-color: #a1a1a1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #000000;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}



/*  --------------- Content -----------------  */

#content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  align-items: center; 
}

#blog {
  grid-column: 1 / 2; 
  grid-row: 1/ 2;
}

#blog2{
  grid-column: 1/4;
}

#secondary {
  grid-column: 2 / 3; 
}

#secondary video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid #000000;
}

#post{
  grid-column: 1/4;
}

#post p a{
  color: #387a3d;
}

/*  --------------- Aside -----------------  */

#aside{
  grid-column: 2 /3;
}

#slideshow {
  display: grid;
  grid-column: 1 / 2; 
  width: 100%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 3px solid #000;
}

/*.slider {
  display: grid;
  grid-column: 1/4;
  gap: 20px;
  align-items: center; 
}*/


.slider img {
  align-items: center;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  border: 3px solid #000;
}

.faq {
  display: grid;
  grid-column: 1 / 2;
  gap: 20px;
}

.contact {
  display: grid;
  grid-column: 1 / 2;
}

.formlabel {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding: 10px;
  font-weight: bold;
}

.error {
  color: red;
  padding-left: 5px;
}


/*  --------------- Footer -----------------  */

footer#bottom{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #b5d9a0;
  margin: 0px;
  height: 80px;
}

footer#bottom h6{
  text-align: center;
  margin: 20px;
}

footer#bottom h6 a{
  color: #000000;
}


footer#bottom img{
  width: 55px;
  margin: 0px;
  padding: 0px;
  
}

/*  --------------- Media Queries -----------------  */

@media screen and (max-width: 940px) {
  .container {
    grid-template-columns: 1fr;
  }

  header.primary nav ul {
    display: none; /* Hide menu by default */
    flex-direction: column;
    background: #b5d9a0;
    position: absolute;
    top: 115px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 15px 10px;
  }

  header.primary nav ul.active {
    display: flex; /* Show when active */
  }

  .nav-links li {
    padding: 5px 10px;
  }

  .hamburger {
    display: block;
    color: #000000; /* Show hamburger icon */
  }


  #content {
    grid-template-columns: 1fr;
  }

  #blog {
    grid-column: 1 / 2; 
    grid-row: 1/ 2;
  }

  #secondary {
    grid-column: 1 / 2; 
  }

  #left-side{
    margin-bottom: 0px;
    padding-bottom: 0px;
    gap: 0px;
  }

  #aside {
    grid-column: 1 / 2;
    gap: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }

  #slideshow {
    grid-column: 1 / 2; 
  }

  .slider img {
    width: 60%;
    margin-left: 140px;    
  }

  footer#bottom h6{
    margin: 20px;
  }
  
}



  
