/* Color Scheme:
#B5D9A0
#387A3D
#161800
#FFF9C9 
*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */

.container{
  width:80vw;
  max-width: 1000px;
  margin: 20px auto;
  padding:0px auto;
}

.img-right {
  float: right;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

.img-left {
  float: left;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

/*  ---------------Global Styles-----------------  */
body {
  margin:0;
  font-family: "DM Serif Text", serif;
}

header.primary{
  display:flex;
  align-items: center;
  justify-content: space-around;
  background: #B5D9A0;
  margin: auto;
  padding: auto;
}

header.primary nav ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap:20px;
}

header.primary nav ul li{
  list-style-type: none;
}

header.primary ul li a{
  color:#387A3D;
  text-decoration: none;
  border: 4px solid #000000;
  padding: 2.5px 10px;
  border-radius: 10px 10px 0px 10px;
  background-color: #ffffff;
  transition: .4s;
}

header.primary ul li a:hover{
  background-color: rgba(239, 239, 239, 0.4);
}

#secondary{
  display:flex;
  flex-direction: row-reverse;
}

#content{
  
}

footer{
  background: #B5D9A0;
}