html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img{
  max-width: 100%;
}

/*---------------- Nav ----------------*/

body{
    background: #000;
    margin: 0;
}

.logo{
    color:#fff;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.pink{
    color:#C43461;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
}

.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}

.nav-links ul{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    gap: 120px;
}

.primary nav ul li a{
    text-decoration: none;
    color: #fff;
}

.primary nav ul li a:hover{
    text-decoration: underline;
    color: #fff;
}

.contact{
    text-decoration: none; 
    color: #fff;
    border: 2px solid #C43461;
    border-radius: 16px;
    padding: 5px 10px;
}

.contact:hover{
    background-color: #C43461;
    color: #fff;
    transition: 0.3s ease-in-out;
}

/*---------------- Content ----------------*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
}

.blog-post {
    color: #fff;
}