/*
Color Scheme:
#E972ED
#ED7772
#ED72AB
#C072ED
#ED8C72
#E62099
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img{
    max-width: 100%;
}

/*---------------- Utility Classes ----------------*/


body{
font-family: "Roboto", sans-serif;
background-color: #E62099;
}


.container{
  padding: 40px;
  margin:auto;
}

main{
  background-color: #ffffff;
  width: 80vw;
  margin: 40px auto;
  padding: 40px;
  border: 4px  double #000000;
  border-radius: 8px;
}

.container h1{
  text-align: center;
  font-size: 2.4rem;  
  padding: 0;
  margin: 0;
}

.primary ul{
    list-style-type: square;
    color:#E62099;
}
.container nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;

}

.container nav a:hover{
    text-decoration: underline;

}
